apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: eizn
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-lxma-tenant/byoc-app-whbj/eizn@sha256:9ad1e3cf81a973c0bbb109bea4847ff0fac30f384edb997710661033aa631c49
        name: my-java-quarkus
        resources: {}
status: {}
